<%- include('partials/header') -%>

<h1 class="text-4xl">Welcome</h1>

<% if (locals.isAuthenticated) { %>
    <p>Debug info:</p>
    <p><%- locals.debugInfo.replace(/\n/g, '<br/>') || 'No data' %></p>    
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>
